* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	overflow: hidden;
	font-family: 'Cousine', Courier New, monospaced;
}


canvas {
    width: 100%;
    margin: auto;
    position: absolute;
    cursor: alias;
}

#sunriseGenerator {
	z-index: 2;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#topFill {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	background: white;
	z-index: 1;
}

#bottomFill {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
	z-index: 1;
}

#about {
	/*height: 20%;*/
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 20px;
	padding-bottom: 5px;
	/*border-bottom: solid 2px;*/
	/*background: rgba(255,255,255,0.33);*/
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: -webkit-transform 0.33s, opacity 0.33s, background 0.33s;
	-moz-transition: -moz-transform 0.33s, opacity 0.33s, background 0.33s;
	-ms-transition: -ms-transform 0.33s, opacity 0.33s, background 0.33s;
	-o-transition: -o-transform 0.33s, opacity 0.33s, background 0.33s;
	transition: transform 0.33s, opacity 0.33s, background 0.33s;
}

#about.closed {
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-ms-transform: scale(0.25);
	-o-transform: scale(0.25);
	transform: scale(0.25);
	opacity: 0.33;
	background: rgba(255,255,255,0);
	cursor: pointer;
}

#about.closed:hover {
	opacity: 1;
	-webkit-transform: scale(0.28);
	-moz-transform: scale(0.28);
	-ms-transform: scale(0.28);
	-o-transform: scale(0.28);
	transform: scale(0.28);
}

#closeWrap{
	width: 10%;
	margin-bottom: 12px;
	float: left;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif
}

#mainTextWrap {
	width: 90%;
	float: left;
	margin-bottom: 0;
}

h1 {
	margin-top: 0px;
	margin-bottom: 11px;
	font-size: 36px;
	line-height: 36px;
	width: 50%;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif
}

.titleCol {
	width: 50%;
	float: left;
	padding-right: 20px;
}

.textCol {
	width: 25%;
	float: left;
	padding-right: 20px;
}

h2 {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif
}

p {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 13px;
	line-height: 18px;
}

p.introText {
	width: 50%;
	font-style: italic;
}

a {
	color: black;
}

